<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    
    <div id="main">
      <div id="slide1" class="slide">
        <nav>
          <a href="/login">login</a>
          <a href="/register">register ka page hai ye</a>
        </nav>
        <h1>Homepage</h1>
      </div>
  </div>
  </body>
</html>
